.header {
    background-color: rgb(255, 255, 0);
    border: solid black 1px;
    height: 130px;
    margin-bottom: 10px;
    padding-left: 100px;
}
.container {
    display: flex;
    flex-direction: row;
}
.footer {
    border: solid black 1px;
    background-color: rgb(0, 191, 255);
    height: 200px;
    padding-left: 10px;
    margin-top: 20px;
    padding-left: 100px;
}
.aside {
    padding-left: 60px;
    border: solid black 1px;
    width: 50%;
    background-color: rgb(167, 168, 168);
    height: 260px;
}
.main {
    border: solid black 1px;
    width: 50%;
    background-color: rgb(0, 255, 255);
    height: 260px
}